body {
  font-family: Helvetica, Arial, sans-serif;
}

h3 {
  display: inline-block;
  -webkit-transition: background-color 2s;
  -moz-transition: background-color 2s;
  transition: background-color 2s;
}

iframe {
  border: 2px solid #333;
}

#effects {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 50;
}

.clickable {
  cursor: pointer;
  color: red;
}

iframe.windowed {
  width: 640px;
  height: 480px;
  background-color: #FFF;
}

iframe.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
}

span.fullscreen {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 2em;
  z-index: 40;
  cursor: pointer;
  color: red;
}