/* -- COLORS
header/text #141E25
background  #28465B

 -- logo:
blue        #91E9FF
green       #C4FFD3
yellow      #FFC24D
orange      #FF9B4D
*/

body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  padding-top: 60px;
  background-color: #28465B;
  margin: 0;
  color: #141E25;
}

header {
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 700px;
  height: 50px;
  background-color: #141E25;
}

header a {
  height: 60px;
  color: #91E9FF;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-size: 1.2em;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 0;
  position: relative;
  top: -18%;
}

h3 {
  display: inline-block;
}

iframe {
  background-color: #FFF;
  z-index: 40;
}

form {
  font-size: 1.2em;
}

form input {
  font-size: 1em;
}

input.submit {
  background-color: #C4FFD3;
  border: 3px solid #141E25;
  border-radius: 5px;
}

.container {
  margin: 0 auto;
}

.logo {
  margin: 4px;
}

.title {
  font-size: 3.5em;
  color: #FF9B4D;
  margin-left: 60px;
}

.splash {
  width: 1024px;
  height: 408px;
  margin: 0 auto;
  background-image: url("splash.png");
}

.splashband {
  text-align: center;
  width: 95%;
  margin: 0px auto;
  height: auto;
}

.displayblocks {
  height: 150px;
  margin: 0px auto;
  text-align: center;
}

.displayblock {
  width: 250px;
  display: inline-block;
  vertical-align: top;
  margin: 0px 20px;
  margin-bottom: 15px;
  color: white;
}

.screen {
  width: 406px;
  height: 238px;
  position: relative;
  top: 37px;
  left: 123px;
  padding: 30px;
}

.info {
  background-color: #141E25;
  color: #91E9FF;
  width: 100%;
  padding: 10px 0;
}

.effects {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 50;
  background-color: #000;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  color: white;
  text-align: center;
}

.speakerinfo {
  position: relative;
  top: 30%;
}

.portrait {
  width: 25%;
}

.speakername {
  font-size: 2.5em;
}

.fadein {
  opacity: 0;
}

.fadeout {
  opacity: 1;
}

.clickable {
  cursor: pointer;
  color: #141E25;
  display: inline-block;
}

iframe.windowed {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
  margin-left: -250px;
  margin-right: -250px;
  margin-top: -200px;
  margin-bottom: -200px;
  border: 2px solid #333;
  width: 1024px;
  height: 768px;
}

iframe.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.djcontainer {
  max-width: 500px;
  min-width: 335px;
  background-color: #141E25;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  margin: 0 auto;
  margin-top: -100px;
}

.djcontainer h2 {
  color: #FFC24D;
}

.djcontainer h2.clickable {
  background-color: #91E9FF;
  padding: 6px;
  border-radius: 6px;
  color: #141E25;
  display: inline-block;
}

.speakers {
  height: 300px;
  overflow-y: auto;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}

.speaker {
  border: 2px solid #141E25;
  border-radius: 5px;
  width: 80%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #C4FFD3;
  overflow: hidden;
  position: relative;
}

.controls {
  position: absolute;
  right: 10px;
  top: -15px;
  font-size: 1.6em;
  line-height: 0;
  height: 120px;
  width: 120px;
  background-color: #C4FFD3;
  z-index: 100;
}

.cc, .cc a {
  font-size: 0.6em;
  text-align: center;
  text-decoration: none;
  color: #28465B;
}