/* -- COLORS
header/text #141E25
background  #28465B
background-lite #D6D9FF

 -- logo:
blue        #91E9FF
green       #C4FFD3
yellow      #FFC24D
orange      #FF9B4D
*/

body {
  font-family: Helvetica, Arial, sans-serif;
  padding-top: 60px;
  background-color: #28465B;
  margin: 0;
  color: #141E25;
}

@media (max-width: 350px) {
  body {
    font-size: 0.8em;
  }
}

.backgroundlite {
  background-color: #D6F6FF;
  width: 700px;
  height: 100%;
  margin: 0 auto;
  padding: 15px;
  border-radius: 3px;
}

h1, h2, h3, h4 {
  color: #FF9B4D;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.yellow {
  color: #FFC24D;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

.orange {
  color: #FF9B4D;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

.black {
  color: #141E25;
  font-family: Helvetica, Arial, sans-serif;
}

.accountbox {
  background-color: #F4F6FF;
  padding: 1px 10px 10px 10px;
  border-radius: 3px;
  color: #141E25;
}

.loginbutton {
  background-color: #C4FFD3;
  border: 3px solid #141E25;
  border-radius: 5px;
  margin-top: 10px;
  text-decoration: none;
  padding: 5px;
}

.loginbutton:hover {
  background-color: #A1D1AD;
}

.textcentered {
  text-align: center;
}

.loginbuttons {
  width: 100%;
  text-align: center;
  position: absolute;
  margin-bottom: 15px;
  left: -5px;
}

header {
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #141E25;
  overflow: hidden;
}

header a {
  height: 60px;
  color: #91E9FF;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-size: 1.2em;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 0;
  position: relative;
  top: -18%;
}

.footer {
  position: absolute;
  bottom: 0px;
  margin-top: ;
  width: 100%;
  height: 50px;
  background-color: #141E25;
}

h3 {
  display: inline-block;
}

iframe {
  background-color: #FFF;
  z-index: 40;
}

form {
  font-size: 1.2em;
}

form input {
  font-size: 1em;
}

input.submit {
  background-color: #FFC24D;
  border: 3px solid #141E25;
  border-radius: 5px;
  margin-top: 10px;
}

hr {
  border: 1px solid #141E25;
  margin-top: 30px;
}

.container {
  margin: 0 auto;
}

.eighty {
  width: 80%;
  color: #91E9FF;
}

.logo {
  margin: 4px;
}

.title {
  font-size: 3.5em;
  color: #FF9B4D;
  margin-left: 60px;
}

.splash {
  width: 1024px;
  height: 408px;
  margin: 0 auto;
  background-image: url("splash.png");
}

.splashband {
  text-align: center;
  width: 95%;
  margin: 0px auto;
  height: auto;
}

.displayblocks {
  height: 150px;
  margin: 0px auto;
  text-align: center;
}

.displayblock {
  width: 250px;
  display: inline-block;
  vertical-align: top;
  margin: 0px 20px;
  margin-bottom: 15px;
  color: white;
  font-size: 20px;
  font-family: Arial;
}

.dashboard {
  width: 80%;
  height: 100%;
  color: #FFC24D;
  margin: 0 auto;
}

.dashboardMeeting {
  text-align: center;
  display: inline-block;
  overflow: hidden;
  margin: 5px;
  color: #28465B;
  width: 220px;
}

.dashboardMeeting a {
  text-decoration: none;
  color: #FFC24D;
  padding: 10px;
  line-height: 1.5em;
}

.meetingName {
  display: block;
  overflow: hidden;
  background-color: #91E9FF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 20px;
  margin-left: 5px;
  margin-right: 5px;
  height: 150px;
  text-align: left;
}

.speaking {
  background-color: #FFC24D;
}

.both {
  background-color: #C4FFD3;
}

.meetingName .name {
  font-size: 1.2em;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

.meetingControls {
  text-align: center;
  display: block;
  background-color: #141E25;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px 10px 5px 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.dashboardNewMeeting {
  color: #91E9FF;
  padding: 20px 10% 100px 10%;
  background-color: #141E25;
  margin-top: 30px;
  display: block;
}

.screen {
  width: 435px;
  height: 300px;
  position: relative;
  top: 37px;
  left: 123px;
  padding: 15px;
}

.info {
  background-color: #141E25;
  color: #91E9FF;
  width: 100%;
  padding: 10px 0;
  border-radius: 3px;
}

.effects {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 50;
  background-color: #000;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  color: white;
  text-align: center;
}

.speakerinfo {
  position: relative;
  top: 30%;
}

.portrait {
  width: 25%;
}

.speakername {
  font-size: 2.5em;
}

.fadein {
  opacity: 0;
}

.fadeout {
  opacity: 1;
}

.clickable {
  cursor: pointer;
  color: #141E25;
  display: inline-block;
}

.edit {
  display: inline-block;
}

iframe.windowed {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
  margin-left: -250px;
  margin-right: -250px;
  margin-top: -200px;
  margin-bottom: -200px;
  border: 2px solid #333;
  width: 1024px;
  height: 768px;
}

iframe.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.djcontainer {
  max-width: 500px;
  background-color: #141E25;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  margin: 0 auto;
  margin-top: -100px;
}

.djcontainer h2 {
  color: #FFC24D;
}

.djcontainer h2.clickable {
  background-color: #91E9FF;
  padding: 6px;
  border-radius: 6px;
  color: #141E25;
  display: inline-block;
}

@media (max-width: 350px) {
  .speakers {
    height: 400px;
    overflow-y: auto;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;  }
}

@media (min-width: 350px) and (max-width: 500px) {
  .speakers {
    height: 500px;
    overflow-y: auto;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
  }
}

@media (min-width: 500px) {
  .speakers {
    height: 600px;
    overflow-y: auto;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
  }
}

.speaker {
  border: 2px solid #141E25;
  border-radius: 5px;
  width: 80%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #C4FFD3;
  overflow: hidden;
  position: relative;
}

.controls {
  float: right;
  margin-top: -16px;
  font-size: 1.8em;
  line-height: 0;
  height: 50px;
  width: 110px;
}

.cc, .cc a {
  font-size: 0.6em;
  text-align: center;
  text-decoration: none;
  color: #28465B;
  margin-top: 20px;
}

.acb {
  width: 300px;
  height: 250px;
  background-color: #141E25;
  border-radius: 5px;
  padding: 30px;
  float:right;
  margin-bottom: 20px;
  border: 2px solid black;
}

.presenters {
  clear: both;
  display: block;
  width: 99%;
  border-radius: 5px;
  height: 100px;
  background-color: #91E9FF;
  margin-bottom: 10px;
  padding-left: 15px;
}

.sup {
  float: left;
  font-size: 2.5em;
}

.su {
  color: #28465B;
}