<h2>Your Meeting</h2>
<br />
<div>
  <h2>Link to your DJ dashboard</h2>
  <span><a href="http://presentaur.herokuapp.com/#/dj/{{id}}"> http://presentaur.herokuapp.com/#/dj/{{id}}</a></span>
  <h2>Link for your speakers to sign up</h2>
  <span><a href="http://presentaur.herokuapp.com/#/signup/{{id}}">http://presentaur.herokuapp.com/#/signup/{{id}}</a></span>
  <h2>Link to view your meeting</h2>
  <span><a href="http://presentaur.herokuapp.com/#/present/{{id}}">http://presentaur.herokuapp.com/#/present/{{id}}</a></span>
</div>