<div class="dashboard">
  <h1>Your Presentaurs</h1>
  <div class="container">
    <div ng-repeat="meeting in meetings" class="dashboardMeeting">
      <div class="meetingName">
        <span class="name">{{ meeting.meetingName }}</span><br />
        <span>speakers: {{meeting.speakers.length}}</span><br />
        <span>date: {{meeting.date}}</span><br />
      </div>
      <div class="meetingControls">
        <a href="#/dj/{{meeting._id}}">DJ</a>
        <a href="#/present/{{meeting._id}}">View</a><br />
        <a href="mailto:?subject=You've been invited to present at {{meeting.meetingName}}&body=To submit your content visit:%0A%0A http://presentaur.herokuapp.com/#/signup/{{meeting._id}}">Invite</a>
        <a href="#/signup/{{meeting._id}}">Sign Up</a>
      </div>
    </div>
  </div>
</div>
<div class="dashboardNewMeeting">
  <h2 class="orange">Create a New Presentaur</h2>
  <form ng-submit="createMeeting()">
    <span>Name</span><br>
    <input ng-model="meetingName" type="text" name="name"><br>
    <span>Date</span><br>
    <input type="date"><br />
    <span>Duration</span><br>
    <input type="number">mins.<br />
    <input class="submit" type="submit" value="Create">
  </form>
</div>