<div class="dashboard">
  <h1>Your Presentaurs</h1>
  <div class="container">



    <div ng-repeat="meeting in hosting" class="dashboardMeeting">
      <div class="meetingName hosting">
        <div class="dashboardName">{{ meeting.meetingName }}</div>
        <div class="leftCol">
            <div class="dashboardCat">Your Role:</div>
            <div class="dashboardCat">Speakers:</div>
            <div class="dashboardCat">Date:</div>
        </div>
        <div class ="rightCol">
            <div class="dashboardVal">Hosting</div>
            <div class="dashboardVal">{{meeting.speakers.length}}</div>
            <div class="dashboardVal">{{meeting.date}}</div>
        </div>
      </div>

      <div class="meetingControls">
        <div class="leftCol">
          <div class="mcButton"><a href="mailto:?subject=You've been invited to present at {{meeting.meetingName}}&body=To submit your content visit:%0A%0A http://presentaur.herokuapp.com/#/signup/{{meeting._id}}" target="_blank">Invite Speakers</a></div>
          <div class="mcButton"><a href="#/signup/{{meeting._id}}">Add Content</a></div>
        </div>
        <div class="rightCol">
          <div class="mcButton"><a href="#/dj/{{meeting._id}}">Meeting Controls</a></div>
          <div class="mcButton"><a href="#/present/{{meeting._id}}">Audience View</a></div>
        </div>
        <!-- <div class="controlHeading">Plan your meeting</div> -->
        
        <!-- <div class="controlHeading">Run your meeting</div> -->
        
      </div>
    </div>


    <div ng-repeat="meeting in both" class="dashboardMeeting">
      <div class="meetingName both">
        <span>Hosting/Speaking</span><br />
        <span class="name">{{ meeting.meetingName }}</span><br />
        <span>speakers: {{meeting.speakers.length}}</span><br />
        <span>date: {{meeting.date}}</span><br />
      </div>
      <div class="meetingControls">
        <a href="#/dj/{{meeting._id}}">Host</a>
        <a href="#/present/{{meeting._id}}">View</a><br />
        <a href="mailto:?subject=You've been invited to present at {{meeting.meetingName}}&body=To submit your content visit:%0A%0A http://presentaur.herokuapp.com/#/signup/{{meeting._id}}" target="_blank">Invite</a>
        <a href="#/signup/{{meeting._id}}">Edit</a>
      </div>
    </div>
    <div ng-repeat="meeting in speaking" class="dashboardMeeting">
      <div class="meetingName speaking">
        <span>Speaking</span><br />
        <span class="name">{{ meeting.meetingName }}</span><br />
        <span>speakers: {{meeting.speakers.length}}</span><br />
        <span>date: {{meeting.date}}</span><br />
      </div>
      <div class="meetingControls">
        <a href="#/signup/{{meeting._id}}">Edit</a><br /><a>&nbsp;</a>
      </div>
    </div>
  </div>
</div>
<div class="dashboardNewMeeting">
  <h2 class="orange">Create a New Presentaur</h2>
  <form ng-submit="createMeeting()">
    <span>Name</span><br>
    <input ng-model="meetingName" type="text" name="name"><br>
    <span>Date</span><br>
    <input type="date"><br />
    <span>Duration</span><br>
    <input type="number">mins.<br />
    <input class="submit" type="submit" value="Create">
  </form>
</div>
