<div class="djcontainer">
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<meta name="viewport" content="width=device-width" />
  <div class="speakers">
    <h2>{{meetingName}}</h2>
    <div class="speaker" ng-repeat="speaker in queue">
      <h3 class="black">{{ speaker.name }}</h3>
      <div class="controls">
        <h3 class="clickable" ng-click="moveSpeaker(speaker, 'up')">
          <?xml version="1.0" encoding="utf-8"?>
          <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
              <g transform="rotate(180 16 16)">
                <path fill="none" stroke="#141E25" stroke-width="5" d="M 7,16 16,28 25,16"/>
                  <path fill="none" stroke="#141E25" stroke-width="5" stroke-linejoin="bevel" d="m 16,28 0,-25"/>
              </g>
          </svg>
        </h3>
        <h3 class="clickable" ng-click="moveSpeaker(speaker, 'down')">
          <?xml version="1.0" encoding="utf-8"?>
          <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <g>
              <path fill="none" stroke="#141E25" stroke-width="5" d="M 7,16 16,28 25,16"/>
                <path fill="none" stroke="#141E25" stroke-width="5" stroke-linejoin="bevel" d="m 16,28 0,-25"/>
            </g>
          </svg>
        </h3>
        <h3 class="clickable" ng-click="remove(speaker)"> X </h3>
      </div>
    </div>
  </div>
  <br>
  <h2 ng-hide="started" ng-click="rehearse()" class="clickable" style="float: left;background-color:#FFC24D;">REHEARSAL</h2>
  <h2 ng-show="fade && started" ng-click="fadeout()" class="clickable" style="float: left;">FADE OUT</h2>
  <h2 ng-hide="fade || !started" ng-click="fadein()" class="clickable" style="float: left; margin-right: 20px;">FADE IN</h2>
  <h2 ng-hide="started" ng-click="begin()" class="clickable" style="float: right;">BEGIN</h2>
  <h2 ng-show="started" ng-click="startOver()" class="clickable" style="float: right;">RESTART</h2>
</div>
<h2 class="timer">{{timeRemaining}}</h2>
