<div class="effects" ng-class="transition">
  <div class="speakerinfo">
    <img src="{{speakerPic}}" class="portrait" ng-show="started">
    <h1 class="speakername" ng-show="started">{{speakerName}}</h1>
    <h1 class="speakername" ng-hide="started" style="font-size:3.5em;">{{meetingName}}</h1>
  </div>
</div>
<h2>{{meetingName}}</h2>
<iframe ng-src="{{presentation}}" allowfullscreen mozallowfullscreen webkitallowfullscreen msallowfullscreen oallowfullscreen></iframe>
<h2>Rehearsal Mode</h2>
<h3>Time remaining:</h3><br />
<h1 class="timer" ng-show="rehearsal">{{timeRemaining}}</h1>
