<div class="effects" ng-class="transition">
  <div class="speakerinfo">
    <!-- <img src="../res/bod.jpg" class="portrait"> placeholder, replace with image from google or whatever auth stuff -->
    <h1 class="speakername">{{speakerName}}</h1>
  </div>
</div>
<h2>{{meetingName}}</h2>
<iframe ng-src="{{presentation}}" ng-class="frameSize" allowfullscreen mozallowfullscreen webkitallowfullscreen msallowfullscreen oallowfullscreen></iframe>
<h2>Rehearsal Mode</h2>
<h3>Time remaining:</h3><br />
<h1 class="timer">{{timeRemaining}}</h1>
