<div class="container eighty">
  <span class='sup'>
    <h2>Add Your <br>
      Presentation to <br>
      <span style='font-style: italic; color: #91E9FF; font-weight: 100'>
        {{ meetingName }}
      </span>
     </h2>
  </span>

  <form ng-submit="addPresenter()">
    <div class='acb'>
        <div ng-hide='loggedIn'>
          <span>Name</span>
          <br>
          <input type="text" placeholder="Your name" ng-model="speaker.name" ng-required="true">
          <br>
          <span>or login with:</span>
          <a class="orange" href="auth/google" ng-click="login(true)">Google</a> -
          <a class="orange" href="auth/linkedin" ng-click="login(true)">Linkedin</a>
          <br>
        </div>
        <span ng-show="loggedIn">You will be presenting as
        <br>
        <br>
        <span class='yellow' style='font-size: 1.3em; font-family: Arial'>
         {{username}}
        </span>
      </span>
      <br>
      <br>
      <div>
        <span>Presentation URL</span>
        <input type="url" placeholder="http://www.example.com" ng-model="speaker.url" ng-required="true" style="width:250px">
        <br>
        <br>
        <br>
        <input class='submit' type="submit" value="Sign Up">
      </div>
    </div>
  </form>

  <div class='presenters' ng-repeat="presenter in speakers">
    <h3>
      <span class='su'>Name: {{ presenter.name }}</span>
    </h3>
    <br />
    <span ng-hide="editing">
      <span class='su'><span style='font-weight: bold'>Presenting: </span>{{ presenter.url }}</span>
    </span>
    <form class="edit" ng-show="editing" ng-submit="save()">
      <input type="url" ng-model="presenter.url" ng-model="speaker.url" ng-required="true" style="width:250px">
    </form>
    <h3 class="submit" style="cursor: pointer; margin: 0; margin-left: 40px" ng-show="presenter.user_id === userid && !editing" ng-click="edit()">
      Edit
    </h3>
    <h3 class="submit" style="cursor: pointer; margin: 0; margin-left: 40px" ng-show="presenter.user_id === userid && editing" ng-click="save(this)">
      Save
    </h3>
  </div>
  <br />

</div>