<div class="container eighty">
  <h2>Sign up to be a presenter at<br />{{ meetingName }}</h2>

  <div ng-repeat="presenter in speakers">
    <hr />
    <h3>Name: {{ presenter.name }}</h3><br />
    <span ng-hide="editing">Presenting: {{ presenter.url }}</span>
    <form class="edit" ng-show="editing" ng-submit="save()"><input type="url" ng-model="presenter.url" ng-model="speaker.url" ng-required="true" style="width:250px"></form>
    <h3 class="orange" style="cursor: pointer; margin: 0; margin-left: 40px" ng-show="presenter.user_id === userid && !editing" ng-click="edit()">Edit</h3>
    <h3 class="orange" style="cursor: pointer; margin: 0; margin-left: 40px" ng-show="presenter.user_id === userid && editing" ng-click="save(this)">Save</h3>
  </div>
  <hr /><br />

  <form ng-submit="addPresenter()">
    <input type="text" placeholder="Your name" ng-model="speaker.name" ng-required="true" ng-hide="loggedIn">
    <span ng-hide="loggedIn">or login with:</span>
    <a class="orange" ng-hide="loggedIn" href="auth/google" ng-click="login(true)">Google</a> - 
    <a class="orange" ng-hide="loggedIn" href="auth/linkedin" ng-click="login(true)">Linkedin</a>
    <span ng-show="loggedIn">Sign up as {{username}}</span>
    <input type="url" placeholder="Url of your presentation" ng-model="speaker.url" ng-required="true" style="width:250px">
    <input type="submit" value="Sign Up">
  </form>
</div>