<h1 class="title">Presentaur</h1>
<div class="splash">
  <div class="screen">
    <h1>Host your talk now</h1>
    <form ng-submit="createMeeting()">
      <span>What's it called?</span>
      <input ng-model="meetingName" type="text" name="name"><br />
      <span>When's it happening?</span>
      <input type="date"><br />
      <span>How long is it?</span>
      <input type="number">mins.<br />
      <input class="submit" type="submit" value="Create">
    </form>

    <a href="/auth/google">Sign In with Google</a>

  </div>
</div>
<div class="info">
  Aditional info goes here.
</div>